<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>learn angular</title>
</head>
<body> 
    <!-- <div data-ng-app="myApp" w3-test-directive data-ng-init="myCol='lightblue';quantity=6;cost=10;fname=salah" ng-controller="myCtrl">
        First Name : <input type="text" data-ng-model="fname" ><br/>
        Last Name : <input type="text" data-ng-model="lname"><br/>

        <p>Full Name : {{ fname +" "+lname }} ></p> 
        <p>total in dollar is {{quantity*cost}} $</p>
        <p>total in dolar is <span ng-bind="quantity*cost"> </span> $</p>


        <p data-ng-bind="fname"></p>
        <p>{{fname}}</p> 

        <p>the first name is <span data-ng-bind="firstname"></span></p>

        <p> first expression : {{15 * 3}}</p>


    </div>


    <div ng-app="" ng-init="person={firstName:'Salah',lastName:'Salmi',age:'22'}">
        <p>the name is {{person.firstName + " " + person.lastName}}</p>
        <p>the age is {{person.age}} </p>
        <p> first expression : {{15 * 3}}</p>



    </div>


    <div ng-app="" ng-init="names=['salah','saad','Kai']">
        <p>Looping with ng-repeat:</p>
        <ul>
          <li ng-repeat="x in names">
            {{ x }}
          </li>
        </ul>
      </div>





    <div ng-app="" ng-init="names=['salah','saad','mouad']">
        <ul>
            <li ng-repeat="x in names">
                {{ x }}
            </li>
        </ul>
    </div>    

    <form ng-app="emailVerification" name="myForm">
        Email:
        <input type="email" name="myAdress" data-ng-model="text">
        <span ng-show="myForm.myAdress.$error.email">not a valid email adress</span>

    </form> -->

    <style>
        input.ng-invalid {
            background-color: aqua;
        }
    </style>

    <form ng-app="" name="myForm">
        Nom : 
        <input type="text" name="myName" ng-model="myText" required>
        Email:
        <input type="email" name="myAddress" ng-model="text">

        
        <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
    </form>
    

    <script>
        var app = angular.module('myApp',[]); 
        app.controller('myCtrl',function($scope){  // 
            $scope.fname = "Salah Eddine";
            $scope.lname = "Salmi";
        });

        app.directive("test",function() {
            return {
                template : "i was made in a directive constructor"
            };
        });
    </script>    
    <script src="myApp.js"></script>
    <script src="myCtrl.js"></script>

</body>

</html>